.prof-holder{
	margin:2px 100px;
}
.profile-holder {
    height: 50vh;
    margin: 100px 0 0 0;
    border: 1px solid rgb(134, 159, 202);
    border-radius: 10px 10px 0px 0px;
	
	background: linear-gradient(45deg, #2C7BD5, #4A90E2, #6AAFE6);
	/* background: #4a97eaad; */
	box-shadow: 0 4px 30px rgba(83, 117, 165, 0.675);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 0 20px 5px #8b8b8b;
}

.back-button i {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 7px;
    color: white;
}

.setting {
    display: grid;
    justify-content: end;
    margin-right: 20px;
}

.setting  i {
    font-size: 25px;
    margin-top: 120px;
}

.tools {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    margin-top: 20px;
}

.main {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.cover {
    border-radius: 10px;
    display: block;
    position: relative;
    height: 237px;
    overflow: hidden;
    z-index: 1;
}

.cover img {
    max-width: 100%;
    z-index: 1;
}

.profile {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    margin: -100px 0 10px 20px;
    z-index: 999;
}

.profile img {
    max-height: 100%;
    z-index: 999;
    border-radius: 50%;
    border: #d0efff solid 3px;
    display: inline;
}

.nameProfile {
    margin-top: 120px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 200;
}

.bold {
    font-size: 30px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footerContainer {
    margin: 0 auto;
    width: 100%;
}

.body-holder{
	margin:auto 10px;
}
.body-container{
	padding-left: 100px;
    padding-right: 100px;
	padding-top: 5px;
	margin-top: 10PX;
	background: rgba(159, 148, 225, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}


.card{
	
	background: rgba(64, 40, 202, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 20px 5px #8b8b8b;
}

.table tr th{
	font-size: 13px;
	width: 20px;
	background-color: #2C7BD5;
	color: white;
}
  
.table tr td{
	font-size: 13px;
	background-color: #b2b2b2;
}
  
.table th{
	border-bottom: 1px solid blue;
	position: sticky;
	top: 0;
	background-color: #1468de82;
	padding-bottom: 20px;
	color: rgba(97, 129, 255, 0.481);
}
.table-responsive {
	border-radius: 10px;
	overflow-x: auto;
	max-height: 300px;
	overflow-y: scroll;
	
}

.user-info{
    font-family: 'Poppins', sans-serif;
}