@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

hr {
  width: 100%;
}

#map {
  height: 500px;
  width: 100%;
}

.content-holder {
  padding: 0 80px;
}

h1 {
  font-family: "Titan One", cursive;
  font-size: 2rem;
  color: #4f4f4f;
}

.title-container {
  width: 100%;
  height: 5rem;
  margin-top: 100px;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.iframe-container iframe {
  width: 80vw;
  height: 65vh;
}

footer {
  position: absolute;
  bottom: 0;
}

@media (max-width: 767px) {
  .iframe-container iframe {
    width: 85vw;
    height: 75vh;
  }
  .content-holder {
    padding: 0;
  }

  footer {
    position: static;
  }
}
#sidebar {
  position: absolute;
  top: 0px;
  left: -250px;
  width: 250px;
  height: calc(100% - 0px);
  background-color: white;
  z-index: 1000;

  overflow-y: auto;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.1s ease-in-out;
}

#sidebar.active {
  left: 0;
}

.leaflet-bottom.leaflet-right {
  right: 10px;
  bottom: 10px;
}