html {
  scroll-behavior: smooth;
}



.container-fluid {
  margin-top: 100px;
  width: 90%;
}

hr {
  width: 100%;
}

h1 {
  font-family: "Titan One", cursive;
  font-size: 2rem;
  color: #4f4f4f;
}

.title-container {
  width: 100%;
  height: 5rem;
}

.main-container{
  justify-content: center;
  align-items: center;
}


.header-container {
  background-color: #2c7bd5;
  height: 50px;
}
.content-container {
  height: inherit;
}

h4 {
  font-weight: bold;
  color: white;
}

.img-fluid {
  width: 150px;
  height: 150px;
}

.text-format {
  font-weight: bold;
  color: black;
}

@media (max-width: 576px) {

  .container-fluid{
      margin-top: 80px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;
      align-items: center;
  }

  h1 {
      text-align: center;
      font-size: 1.5rem;
  }

  .content-container{
    justify-content: center;
    align-items: center;
  }

  h4 {
    text-align: center;
    font-size: 1rem;
  }

  p {
    text-align: center;
    font-size: 15px;
  }

  .container-fluid {
    align-items: center;
  }

  .img-fluid {
    width: 100px;
    height: 100px;
  }

  .mt-5 {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
}
