.main {
    margin-top: 72px;
    padding: 10vh 150px;
}

.form-container {
    max-width: 400px;
    background: linear-gradient(45deg, #2c7bd5, #4a90e2, #6aafe6);
    border-radius: 5px;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
}

.back-button:hover {
    text-decoration: none;
}

#eyeicon {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.submit:hover { 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
 
@media (max-width: 768px) {

    .main {
        margin-top: 66px;
        padding: 5vh 10vw;
    }

    .form {
        margin: 0px 0px 10px;
        font-size: small;
    }
    
    #upload_button {
        padding: 6px 6px 6px 6px;
    }
}