body {
  background-color: #e6e9f0;
  background-image: url("../PicturesNeeded/pusokLogoTransparent.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background: linear-gradient(45deg, #2c7bd5, #4a90e2, #6aafe6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 15px; /* Adjust the spacing as needed */
}

.navbar-brand img {
  margin-top: -12px;
  height: 45px;
  margin-left: 30px;
}

.navbar-brand span {
  font-size: 30px;
  font-weight: bold;
  font-family: "Titan One", cursive;
  color: white;
  -webkit-text-stroke: 1px #2260a7;
}

.bi-person-circle {
  font-size: 30px;
}

.nav-link {
  color: #ffffff;
  margin-right: 20px;
}

.nav-link:hover {
  color: #336fb4 !important;
}

.dropdown-menu {
  background-color: whitesmoke;
}

.dropdown-item {
  color: #2260a7;
}

.dropdown-item:hover {
  background-color: #5095e3;
  color: #fff;
}

.iconAccount {
  height: 35px;
  margin-bottom: 0px;
}

.page-container {
  position: relative;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

footer {
  background-color: #2c7bd5;
  font-size: 16px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 45px;
    margin-left: 0px;
  }
  .navbar-brand span {
    font-size: 25px;
    font-weight: bold;
    font-family: "Titan One", cursive;
    color: white;
    -webkit-text-stroke: 1px #2260a7;
  }

  footer .footerContainer p {
    font-size: small;
  }

  .nav-link {
    margin-right: 0px;
  }

  /* .navbar-nav {
    align-items: start !important;
  } */
}

.login-text {
  display: inline-block;
  max-width: 100px; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
