.main {
    width: 100%;
    margin-top: 77px;
}

.prev,
.next {
    color: black;
}

#PostCarousel{
    height: 350px;
    width: 350px;
}

.image {
    height: 100%;
    width: 100%;
}

.video {
    height: 100%;
    width: 100%;
}

.carousel-control-prev {
    background-color: gray;
    border-radius: 50%;
    align-self: center;
    width: 50px;
    height: 50px;
}
.carousel-control-next {
    background-color: gray;
    border-radius: 50%;
    align-self: center;
    width: 50px;
    height: 50px;
}

.Posts {
    margin: 10px 0px;
    padding: 10px;
    background-color: gray;
}

.Post {
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
}

.Pinned-Posts {
    margin: 10px 0px;
    padding: 10px;
    background-color: gray;
}

.Pinned-Post {
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
}

@media (max-width: 991px) {

}