.main {
    margin-top: 81px;
    padding: 0px 75px;
}

footer {
    position: absolute;
    bottom: 0;
}

.profile-box,
.request-box {
    background: linear-gradient(45deg, #2C7BD5, #4A90E2, #6AAFE6);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.profile-picture {
    border: 5px solid #F9F8FD;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.profile-information {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.edit-button,
.change-button {
    padding: 13px;
    border-radius: 26px;
    border-style: none;
    background-color: #005BB5;
    color: #F9F8FD;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-button:hover,
.change-button:hover {
    background-color: #0073E6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.additional-information p {
    color: #F9F8FD;
    font-weight: bold;
    margin: 12px 0px;
}

.name, .gender, .age, .voter {
    color: #F9F8FD;
    font-weight: bold;
}

.pending-button,
.ready-button,
.processing-button {
    padding: 10px 20px;
    background: #F9F8FD;
    border-radius: 26px;
    border-style: none;
    color: #222324;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
}

.pending-button {
    border: 2px solid #FAB020;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.processing-button {
    border: 2px solid #5BC0DE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ready-button {
    border: 2px solid #29B95F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pending-button:hover {
    background-color: #FAB020;
}

.ready-button:hover {
    background-color: #29B95F;
}

.processing-button:hover {
    background-color: #5BC0DE;
}

.pending-button.active,
.processing-button.active,
.ready-button.active {
    color: #F9F8FD;
    font-weight: bold;
}

.pending-button.active {
    background-color: #FAB020;
}

.processing-button.active {
    background-color: #5BC0DE;
}

.ready-button.active {
    background-color: #29B95F;
}

.page-link {
    border-radius: 10%;
}

.table-responsive .table td, th {
    font-size: 12px;
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px), (min-height: 768px) {

    .main {
        margin-top: 65.5px;
        padding: 0px 10px;
    }

    .additional-information {
        font-size: small;
    }

    footer .footerContainer p {
        font-size: small;
    }

    footer {
        position: static;
    }

    table thead th {
        font-size: small;
    }

}