.main {
    margin-top: 81px;
    padding: 0px 75px;
}

footer {
    position: absolute;
    bottom: 0;
}

.profile-box,
.request-box {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.profile-box {
    background: linear-gradient(45deg, #2C7BD5, #4A90E2, #6AAFE6);
}

.request-box {
    background: linear-gradient(45deg, rgba(211, 211, 211, 0.5), rgba(224, 224, 224, 0.5), rgba(245, 245, 245, 0.5));
}

.profile-picture {
    border: 5px solid #F9F8FD;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.profile-information {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.edit-button,
.change-button {
    padding: 13px;
    border-radius: 26px;
    border-style: none;
    background-color: #005BB5;
    color: #F9F8FD;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-button:hover,
.change-button:hover {
    background-color: #0073E6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.additional-information p {
    color: #F9F8FD;
    font-weight: bold;
    margin: 12px 0px;
}

.name, .gender, .age, .voter {
    color: #F9F8FD;
    font-weight: bold;
}

.request-button,
.complaints-button {
    padding: 10px 20px;
    background: #F9F8FD;
    border-style: none;
    color: #222324;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
}

.request-button {
    border: 2px solid green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.complaints-button {
    border: 2px solid red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.request-button:hover {
    background-color: green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.complaints-button:hover {
    background-color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.request-button.active,
.complaints-button.active {
    color: #F9F8FD;
    font-weight: bold;
}

.request-button.active {
    background-color: green;
}

.complaints-button.active {
    background-color: red;
}

.pending-button,
.ready-button,
.processing-button {
    text-align: center;
    padding: 10px 20px;
    border-radius: 26px;
    border-style: none;
    color: #222324;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
}

.pending-button:hover {
    color: #FAB020;
}

.ready-button:hover {
    color: #00ff62;
}

.processing-button:hover {
    color: #00c3ff;
}

.pending-button.active {
    color: #FAB020;
    font-weight: bold;
    text-decoration: underline;
}

.processing-button.active { 
    color: #00c3ff;
    font-weight: bold;
    text-decoration: underline;
}

.ready-button.active {
    color: #00ff62;
    font-weight: bold;
    text-decoration: underline;
}

.page-link {
    border-radius: 10%;
}

.table-responsive .table td, th {
    font-size: 12px;
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination {
    gap: 5px;
}

.custom-swal {
    background-color: #1D4E89;
    color: #F9F8FD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.data-box {
    text-align: left;
    margin-top: 15px;
    font-size: 16px;
    gap: 10px;
    display: grid;
}

.doc-id {
    margin-left: 44px;
}

.doc-name {
    margin-left: 15px;
}

.doc-purpose {
    margin-left: 80px;
}

.doc-status {
    margin-left: 95px;
}

.doc-rd {
    margin-left: 25px;
}

.doc-remarks{
    margin-left: 78px;
}

.doc-price {
    margin-left: 105px;
}

.status-pending thead th {
    background-color: #FAB020;
    color: #222324;
}

.status-processing thead th {
    background-color: #00c3ff;
    color: #222324;
}

.status-Ready.to.pickup thead th {
    background-color: #00ff62;
    color: #222324;
}

@media (max-width: 768px), (min-height: 768px) {

    .main {
        margin-top: 65.5px;
        padding: 0px 10px;
    }

    .additional-information {
        font-size: small;
    }

    footer .footerContainer p {
        font-size: small;
    }

    footer {
        position: static;
    }

    table thead th {
        font-size: small;
    }

    .table {
        width: 600px;
    }

    .table-responsive .table td, th {
        font-size: smaller;
    }

    .data-box {
        font-size: small;
    }

    .doc-id {
        margin-left: 40px;
    }
    
    .doc-name {
        margin-left: 13px;
    }
    
    .doc-purpose {
        margin-left: 62px;
    }
    
    .doc-status {
        margin-left: 74px;
    }
    
    .doc-rd {
        margin-left: 20px;
    }
    
    .doc-remarks{
        margin-left: 62px;
    }

    .doc-price {
        margin-left: 80px;
    }
    
}

@media (max-width: 1024px) {

    footer .footerContainer p {
        font-size: small;
    }

    footer {
        position: static;
    }

    table thead th {
        font-size: small;
    }

}