	.container-fluid{
		margin-top: 100px;
		margin-left: 80px;
		width: 90%;
	}
	hr{
		width: 90%;
	}

	h1{
		font-family: 'Titan One', cursive;
		font-size: 2.5rem;
		color: #5C5D63;
	}

	h3{
		font-family: 'Poppins',sans-serif;
		font-weight: 550;
	}

	.docs{
		width: 100%;
		margin-top: 70px;
	}


	.btn-success{
		background-color: #48BF91;
		border: darkgreen solid 2px;
		height: 250px; 
		border-radius: 10px;
	}

	.div-holder{
		height: 100%;
	}

	.img-holder{
		height: 100%;
		width: 50px;
	}

	.img-holder img{
		height: inherit;
	}
	.btn-success:hover {
	    background-color: #42AA82 ;
	    border-color: #42AA82; /* Adjust hover border color */
	}
	
	.h3-holder {
		margin-left: -220px;
	    display: flex;
	    flex-direction: column; 
	    justify-content: space-between; 
	    overflow: hidden;
	    padding: 10px; 
	    height: 100%; 
	}

	.h3-holder span{
		font-size: 1rem;
	}

	.price {
	    text-align: right; 
	    margin-right: 20px;
	    width: 90%; 

	}
	@media (max-width: 992px) {

		.container-fluid{
			margin-top: 100px;
			margin-left: 14px;
			width: 100%;
		}
		.col-12 {
			height: 50px; 
			width: 100%;
		}
		.btn-success{
			background-color: #48BF91;
			border: darkgreen solid 2px;
			height: 100px; 
			width: 100%;
		}
		.btn-success img{
			display: none;
		}
		.holder{
			height: 100px;
			padding-right: 0px;
			padding-left: 0px;
		}
		.h3-holder{
			padding-top: 0px;
		}
		h3{
		font-family: 'Poppins',sans-serif;
		font-weight: 550;
		font-size: 1rem;
	}
		.h3-holder span{
			font-size: .5rem;
		}


}