@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../PicturesNeeded/bannerBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}


.form1 {
  width: 100%; /* Adjust as needed */
  margin: 0 auto; /* Center the form horizontally */
  justify-content: center;
  display: flex;
}

.card {
  text-align: center;
  padding: 20px;
  border: 2px solid #2C7BD5;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  background: linear-gradient(45deg, #2C7BD5, #4A90E2, #6AAFE6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.app-title {
  color: whitesmoke;
}

.app-subtitle {
  color: #333;
  margin-top: 10px;
  font-size: smaller;
}

.file-label {
  cursor: pointer;
  height: 80%;
  display: flexbox;
  padding: 7px;
  background-color: #2C7BD5;
  color: #fff;
  border: 2px dashed blue;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: all 0.3s ease; /* Add a transition for a smoother effect */
}
.file-label i {
  font-size: 60px;
}

.file-label:hover {
  transform: scale(1.02); /* Add a subtle scale effect on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.file-input {
  display: none;
}

.progress-container {
  margin-top: 15px;
  position: relative;
  min-height: 17px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #2C7BD5;
  border-radius: 10px;
  transition: width 0.3s;
}

.progress-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 11px;
  display: none;
}

.file-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.file-name {
  color: rgb(252, 252, 252);
}

.clear-button {
  padding: 5px 12px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none;
}

.clear-button:hover {
  background-color: #c0392b;
}

.preview-container img {
  max-width: 20%;
  max-height: auto;
  cursor: pointer;
  margin-top: 15px;
}

.btn-container {
  margin-top: 16px;
}

.submit-button {
  padding: 5px 12px;
  background-color: #0D6BD6;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 100%;
}

.submit-button:hover {
  background-color: #6D9DD4;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
  max-width: 30%;
  max-height: auto;
}

.close {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}
