body {
    font-family: Arial, sans-serif;
    padding-top: 70px;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,100,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    background-color: #48BF91 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}   

.navbar-brand img {
    height: 45px;
    margin-left: 30px; /* Increased margin for desktop and laptop */
}

.navbar-brand span {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Titan One', cursive;
    color: white;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

.nav-link {
    color: #ffffff;
    margin-right: 20px; /* Added margin for desktop and laptop */
}

.nav-link:hover{
    color: darkgreen;
}

#navbarNav {
    margin-right: 30px; /* Increased margin for desktop and laptop */
}

.dropdown-menu {
    background-color: whitesmoke;
}

.dropdown-item {
    color: #48BF91;
}

.dropdown-item:hover {
    background-color: #257768;
    color: #fff;
}

.iconAccount {
    height: 35px;
    margin-bottom: 0px;
}

.welcome-section {
    background-image: url("../PicturesNeeded/bannerBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center the content horizontally */
    height: 70vh;
    padding: 20px;
}

.welcome-section span {
    font-family: 'Titan One', cursive;
    color: white;
    -webkit-text-stroke: 2px green;
    text-stroke: 2px green;
    text-align: center; 
}
.welcome-section button {
    display: inline-block;
    background-color: #48BF91;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 128, 0, 0.7); /* Initial box-shadow */
}

.welcome-section button:hover {
    background-color: #257768;
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.7); /* while on hover */
}

.welcome-section button:active {
    background-color: #257768;
    box-shadow: 0 0 30px rgba(0, 128, 0, 1); /*  while clicking */
}

.services {
    padding: 50px 0;
}

.service-card {
    background-color: #48BF91;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.iconsServices {
    height: 55px;
    margin-bottom: 10px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Phones */
@media (max-width: 767px) {
    .navbar-brand img {
        margin-left: 0;
    }

    #navbarNav {
        margin-right: 0;
    }

    .nav-link {
        margin-right: 0; 
    }

    .welcome-section span {
        padding-top: 100px;
        font-size: 2.5rem;
         /* Adjust the vertical position here */
    }

    .welcome-section button {
        margin-top: 200px;
        font-size: 1rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .welcome-section span {
        font-size: 3rem;
        padding-top: 100px; /* Adjust the vertical position here */
    }

    .welcome-section button {
        margin-top: 400px;
        font-size: 1.1rem;
    }
}

/* Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .welcome-section span {
        font-size: 6rem;
    }

    .welcome-section button {
        font-size: 1.2rem;
    }
}

/* Desktops */
@media (min-width: 1200px) {
    .welcome-section span {
        font-size: 8rem;
    }

    .welcome-section button {
        font-size: 1.4rem;
    }
}