@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: Arial, sans-serif;
  background-image: url("../PicturesNeeded/bannerBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
h3{
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-size: 2rem !important;
}


.holder-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container{
  background-color: #48bf91;
  max-width: 500px;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 0 10px;
}
.holder-title{
  width: 100%;
  align-content: center;
}
.address{
  margin-left: 0px !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  background-color: #343a40;
  color: #fff;
  bottom: 0;
  width: 100%; 
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .navbar-brand img {
    margin-left: 0;
  }

  #navbarNav {
    margin-right: 0;
  }

  .nav-link {
    margin-right: 0;
  }
  .welcome-section {
    height: auto;
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  .form-label {
    font-size: 0.9rem;
  }

  .form-control,
  .form-select {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .welcome-section {
    height: 120vh;
  }

  .navbar-brand img {
    margin-left: 0;
  }

  #navbarNav {
    margin-right: 0;
  }

  .nav-link {
    margin-right: 0;
  }
}