body {
  display: flex;
}

.list-holder {
}

.container-fluid {
  margin-top: 23px;
  margin-left: 90px;
  padding-bottom: 47px;
}
.card-body{
  padding-top: 40px;
  background-color: #D7D9DC;
  height: 480px;
  border-radius: 10px;
  width: 90vw;
}

h1 {
  font-family: "Titan One", cursive;
  font-size: 50px;
  color: #434349;
  display: flex;
}

.scrollable-table-body {
  overflow-y: auto;
}


.table-responsive {
  position: relative;
  border-radius: 10px;
  overflow-x: auto;
  max-height: 400px;
  overflow-y:scroll;
  height:400px;
  display:block;
  padding-top: 0;
}


.table-responsive table {
  border-collapse: collapse;
  width: 100%;
}

.table-responsive tbody {
  max-height: 400px; 
  overflow-y: auto;
  background-color: #E9E9E9; 
}

.table-responsive th,
.table-responsive td {
  font-size: 16px; 
  text-align: left;
  vertical-align: middle; 
}


.table-responsive th {
    border-bottom: 1px solid blue;
    position: sticky;
    top: 0;
    background-color: #2260A7;
    padding-bottom: 20px;
    color: white;
}

.table-responsive td {
    padding: 10px 15px;
    border-bottom: 2px solid white;
}

.table-responsive tbody tr:hover {
  background-color: #7BA0E5; 
}

::-webkit-scrollbar {
  width: 8px;
  
}

::-webkit-scrollbar-track {
  background-color: #DDDDDD; 
  border-radius: 10px;
  height: 20px;
}


::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

@media (max-width: 991px) {

  h1 {
    font-family: "Titan One", cursive;
    font-size: 25px;
    color: #5e5e69;
    display: flex;
  }
    .table-responsive {
    position: relative;
    border-radius: 10px;
    border: solid #ADABB6;
    overflow-x: auto;
    max-height: 400px;
    overflow-y:scroll;
    height:400px;
    display:block;
    padding-top: 0;
    
  }
  .table-responsive table {
    border-collapse: collapse;
    width: 100%;
  }


  .table-responsive table {
    border-collapse: collapse;
    width: 100%;
  }
  .table-responsive th,
  .table-responsive td {
    font-size: 10px; 
    text-align: left;
    vertical-align: middle; 
  }
  .table-responsive td i {
    font-size: 10px; 
    text-align: left;
    vertical-align: middle; 
  }
  
  .card-body{
    padding-top: 40px;
    background-color: #D7D9DC;
    height: 480px;
    border-radius: 10px;
   
    
    width: 100%;
    display: grid;
  }
  .container-fluid {
    margin-top: 23px;
    margin-left: 70px;
    padding-bottom: 47px;
  }
}