body {
	display: block;
	margin-top: 80px;
}

.titleHolder{
	margin-left: 100px;
}

.main {
    height: 50vw;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #FAF9F6;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    position: relative;
  	margin-left: 60px;

}

main{
	justify-content: center;
	margin-left: 60px;
}

.main-container{
	width: 88rem;
	height: 36rem;
	justify-content: center;
	position: relative;
	margin-top: 3rem;
	margin-left: 5rem;
	position: relative;
}

h1{
	font-family: 'Titan One', cursive;
	color: #434349;
	font-size: 55px;
	display: flex;
}

.main-card{
	width: 88rem;
	height: 30rem;
	padding: 2px;
	background-color: #D9D9D9 !important;
	padding-top: 5rem;
	position: relative;
}
.btn-danger i{
	display: none;
}
.btn-primary i{
	display: none;
}
.table-card {
	width: 85rem;
	height: 5rem;
	background-color: #B1C4CE !important;
	color: #B1C4CE !important;
	position: relative;
	margin-top: -60px;
	z-index: 1;
}

.card-body {
  position: relative; 
  z-index: 1; 
}

.reg-voter i{
	font-size: 20px;
	-webkit-text-stroke: 2px;
}


.data-card {
	max-width: 85rem;
	height: 15rem;
	background-color: #B1C4CE !important;
    justify-content: center;
    overflow-y: auto;
    position: relative;
}

.button {
	font-size: 12px;
	height: 30px;
	width: 100px;
	margin-bottom: 10px; 
}

.col1{
	text-indent: -80px;
}

.col2 {
	text-indent: -105px;
}

.col3 {
	text-indent: -65px;
}

.col4{
	text-indent: 10px;
}

.scrollable-table-body {
  overflow-y: auto;
}


.table-responsive {
  position: relative;
  border-radius: 5px;
  overflow-x: auto;
  max-height: 400px;
  overflow-y:scroll;
  height:400px;
  display:block;
  padding-top: 0;
}


.table-responsive table {
  border-collapse: collapse;
  width: 100%;
}

.table-responsive tbody {
  max-height: 400px; 
  overflow-y: auto;
  background-color: #E9E9E9; 
  border-radius: 5px;
}

.table-responsive th,
.table-responsive td {
  font-size: 16px; 
  text-align: left;
  vertical-align: middle; 

}


.table-responsive th {
    border-bottom: 1px solid blue;
    position: sticky;
    top: 0;
    background-color: #2260A7;
    padding-bottom: 20px;
    color: white;
}

.table-responsive td {
    padding: 10px 15px;
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.table-responsive tbody tr:hover {
  background-color: #7BA0E5; 
}

::-webkit-scrollbar {
  width: 8px;
  
}

::-webkit-scrollbar-track {
  background-color: #DDDDDD; 
  border-radius: 5px;
  height: 20px;
}


::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
.gray-btn {
        background-color: #2C65F7 !important;
        color: white !important;
}
@media (max-width: 768px) {
   .main-container {
        margin-left: 1rem; /* Adjust margin for smaller screens */
    }
    h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
 	.titleHolder{
 		margin-top: 20px;
		margin-left: 0px;
	}      

	.btn-danger i{
		display: flex;

	}
	.btn-primary i{
		display: flex;

	}

	.btn-text {
            display: none;
        }
}

.swal2-confirm {
    background-color: blue;  /* Blue background */
    color: white;            /* White text */
    border: none;            /* No border */
}

.swal2-confirm:hover {
    background-color: darkblue; /* Darker blue when hovered */
}