.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,100,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    background-color: #48BF91 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}   

.navbar-brand img {
    margin-top: -12px;
    height: 45px;
    margin-left: 30px;
}

.navbar-brand span {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Titan One', cursive;
    color: white;
    -webkit-text-stroke: 1px darkgreen;
 }

.bi-person-circle {
  font-size: 30px;
}
.nav-link {
    color: #ffffff;
    margin-right: 20px; 
}

.nav-link:hover{
    color: darkgreen;
}

#navbarNav {
    margin-right: 30px; 
}

.dropdown-menu {
    background-color: whitesmoke;
}

.dropdown-item {
    color: #48BF91;
}

.dropdown-item:hover {
    background-color: #257768;
    color: #fff;
}

.iconAccount {
    height: 35px;
    margin-bottom: 0px;
}

.page-container{
    position: relative;
}

p{
  margin-top: 0;
  margin-bottom: 0rem;

}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    right: 0; 
}

@media (max-width: 992px) {
    .navbar-brand img {
        height: 45px;
        margin-left: 0px; 
    }
    .navbar-brand span {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Titan One', cursive;
    color: white;
    -webkit-text-stroke: 1px darkgreen;
 }
}
