body {
    background-color: #F9F8FD;
}

.main {
    margin-left: 72px;
    justify-content: center;
}

.page_header {
    font-family: 'Titan One', cursive;
    color: #434349;
    font-size: 2rem;
    text-align: center;
    margin: 5px 0px 16px 0px;
}

.document-box {
    background-color: #2260A7;
}

.document-name,
.document-price {
    margin-top: 15px;
    font-weight: bold;
}

.pen-icon {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.pen-icon:hover i {
    color: #28A745;
}

.swal2-input {
    width: 50%;
    margin: 0px 10px;
    background-color: #F9F8FD;
    color: #434349;    
}

.custom-swal {
    background-color: #1D4E89;
    color: #F9F8FD;
}

@media (max-width: 768px) {

    .document-name {
        font-size: small;
    }
    
    .page_header {
        font-size: 1rem;
    }

}