body{
    height: 100%;
    margin-top: 77px;
}

/*.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,100,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}*/

.navbar {
    background-color: #2260A7 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between; 

}   

.navbar-brand img {
    height: 45px;
    margin-left: 30px; /* Increased margin for desktop and laptop */
}

.navbar-brand span {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Titan One', cursive;
    color: white;
    -webkit-text-stroke: 1.5px #003A90;
}


.nav-link {
    color: #ffffff;
    margin-right: 0px;

}

.nav-link:hover{
    color: #8BB1E0;
}

#navbarNav {
    margin-right: 30px; /* Increased margin for desktop and laptop */
}

.bi-person-circle {
  font-size: 30px;
}

.iconAccount {
    height: 35px;
    margin-bottom: 0px;
}

.iconAccount :hover{
    color: #8BB1E0;
}
.dropdown-menu {
    background-color: whitesmoke;
}

.dropdown-item {
    color: #2260a7;
}

.dropdown-item:hover {
    background-color: #2260a7;
    color: #fff;
}
.page-container{
    position: relative;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    right: 0; 
}


::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1rem;
}
hr{
    height: 3px !important;
    border-radius: 10px;
}

.holder-body{

    position: relative;
    max-height: 100%;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    max-height: 100%;

}


.main {
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #FAF9F6;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}


#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #2260A7;
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 92%;

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;

}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}


#sidebar:not(.expand) .sidebar-logo a,
#sidebar:not(.expand) .sidebar-link span {
    transition: all .25s ease-in-out;
    opacity: 0;
    transform: translateX(-20px);
}

#sidebar.expand .sidebar-logo a,
#sidebar.expand .sidebar-link span {
    transition: all .25s ease-in-out .15s;
    opacity: 1;
    transform: translateX(0);
}

.sidebar-nav {
    padding: 1rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .25s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .25s ease-out;
}
.sidebar-item-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Phones */
@media (max-width: 767px) {
    .logo-holder{
        margin-left: -40px;
    }
}
@media (max-width: 991px) {
    .nav-link .admin-text {
        display: none;
    }

    .main {
        width: 100%;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
        background-color: #F9F8FD;
        margin-left: 68px;
        margin-right: 5px;
    }

    #sidebar {
        width: 70px;
        min-width: 70px;
        z-index: 1000;
        transition: all .25s ease-in-out;
        background-color: #2260A7;
        display: flex;
        position: fixed;
        flex-direction: column;
        height: 89%;
    }
     #sidebar.expand ~ .main {
        margin-left: 0; /* Adjust this value according to the expanded sidebar width */
    }
    .navbar-brand img {
        height: 45px;
        margin-left: 0px; /* Increased margin for desktop and laptop */
    }
    
    .table-light {
        font-size: .5rem;
    }

    .row {
        margin-left: 0px;
    }

    .sitio {
        font-size: large;
    }

    .data {
        font-size: medium;
    }

    .dashboard {
        font-size: 20px !important;
        margin-right: 30px;
    }

    .title {
        font-size: 20px !important;
        margin-right: 30px;
    }

    .doc {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

    .col-3 {
        width: 100vh !important;
    }

    .table td {
        font-size: 10px;
    }
}


/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-holder{
        margin-left: -30px;
    }
}

@media (min-width: 1200px) {
#sidebar {
        width: 70px;
        min-width: 70px;
        z-index: 1000;
        transition: all .25s ease-in-out;
        background-color: #2260A7;
        display: flex;
        position: fixed;
        flex-direction: column;
        height: 92%;
    }
}