.main {
    /* width: 100%; */
    margin-left: 70px;
    justify-content: center;
}

.title {
  font-family: 'Titan One', cursive;
  font-size: 2rem;
  color: #434349;
}

.record-container {
    gap: 10px;
}

.record-box {
    background-color: #2260A7;
    border-radius: 10px;
    padding: 15px 0px;
    color: #F9F8FD;
}

.record-title,
.record-count {
    margin: 10px 0px;
}

.btn {
    background-color: #2260A7;
    border-radius: 10px;
}

.dropdown-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.table-container {
    background: linear-gradient(45deg, #2260A7, #4A90E2, #6AAFE6);
    border-radius: 20px;
}

.page-link {
    border-radius: 10%;
}

.pagination {
    gap: 5px;
}

.table-responsive .table th,
.table-responsive .table td {
    color: #ffffff;
}

@media (max-width: 991px) {

    .record-box {
        border: solid 5px #FAF9F6;
    }

    .record-container {
        gap: 0px;
    }

    .record-title,
    .record-count {
        font-size: small;
    }

    .btn {
        font-size: smaller;
    }

    .dropdown-container {
        justify-content: center;
    }

    .table {
        width: 800px;
    }

    table thead th {
        font-size: small;
    }

    .pagination {
        overflow: scroll;
    }
}