.main {
    /* width: 100%; */
    margin-left: 70px;
    justify-content: center;
    position: relative;
}

.title {
    margin: 12px 0px;
    font-size: 24px;
    color: #FAF9F6;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #111010;
}

.profile-information {
    position: relative;
    background: linear-gradient(45deg, #2c7bd5, #4a90e2, #6aafe6);
    margin: 0px 295px;
    border-radius: 1%;
    color: #FAF9F6;
}

.edit-button {
    background-color: #005BB5;
    color: #FAF9F6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-button:hover {
    color: #FAF9F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.back-button {
    top: 10px;
    left: 10px;
    width: auto;
    position: absolute;
    z-index: 1;
}

.back-button:hover {
    text-decoration: none;
}

@media (max-width: 1204px), (min-height: 768px) {
    .profile-information {
        margin: 0px 150px;
        font-size: 12px
    }
}


@media (max-width: 768px), (min-height: 768px) {
    .profile-information {
        margin: 0px;
        font-size: 12px
    }

    .back-button {
        position: inherit;
    }
}