body {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margin */
}

.main-container {
    width: 100%; /* Use full width of the viewport */
    max-width: 88rem; /* Limit maximum width */
    height: auto; /* Allow height to adjust based on content */
    margin-top: 3rem;
    margin-left: 5rem;
    padding: 0 1rem; /* Add some padding */
    position: relative;
}

h1 {
    font-family: 'Titan One', cursive;
    color: #434349;
    font-size: 3.4375rem; /* Adjust font size for responsiveness */
    text-align: center; /* Center the text */
    margin-top: 0; /* Remove default margin */
}

.main-card {
    width: 100%; /* Use full width of the container */
    max-width: 88rem; /* Limit maximum width */
    height: auto; /* Allow height to adjust based on content */
    background-color: #D9D9D9 !important;
    padding: 2rem; /* Adjust padding */
}

.table-card {
    width: 100%; /* Use full width of the container */
    max-width: 85rem; /* Limit maximum width */
    height: auto; /* Allow height to adjust based on content */
    background-color: #B1C4CE !important;
    color: #B1C4CE !important;
    margin-top: -3rem; /* Adjust margin */
}

.data-card {
    width: 100%; /* Use full width of the container */
    max-width: 85rem; /* Limit maximum width */
    height: 20rem; /* Set fixed height */
    background-color: #B1C4CE !important;
    justify-content: center;
    overflow-y: auto;
}

.tools-button {
    height: 30px;
    width: 30px;
    display: flex;
}

.icon {
    position: relative;
    top: -15%;
}

/* Adjust text alignment for table headers */
.col1 {
    text-indent: -10px;
}

.col2 {
    text-indent: -120px;
}

.col3 {
    text-indent: -20px;
}

.col4 {
    text-indent: -330px;
}

.col5 {
    text-indent: -160px;
}

.col6 {
    text-indent: 1px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-container {
        margin-left: 1rem; /* Adjust margin for smaller screens */
    }
    h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .col2 {
        text-indent: -80px; /* Adjust text indentation for smaller screens */
    }
    .col4 {
        text-indent: -220px; /* Adjust text indentation for smaller screens */
    }
    .col5 {
        text-indent: -120px; /* Adjust text indentation for smaller screens */
    }
}
