body {
    display: flex;
}

.main-container{
    width: 88rem;
    height: 36rem;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
    margin-left: 5rem;
    position: relative;
}

h1{
    font-family: 'Titan One', cursive;
    color: #434349;
    font-size: 55px;
    display: flex;
}

.main-card{
    width: 88rem;
    height: 30rem;
    padding: 2px;
    background-color: #D9D9D9 !important;
    padding-top: 5rem;
    position: relative;
}

.table-card {
    width: 85rem;
    height: 5rem;
    background-color: #B1C4CE !important;
    color: #B1C4CE !important;
    position: relative;
    margin-top: -60px;
    z-index: 1;
}

.card-body {
  position: relative;
  z-index: 1;
}

.data-card {
    max-width: 85rem;
    height: 20rem;
    background-color: #B1C4CE !important;
    justify-content: center;
    overflow-y: auto;
    position: relative;
}

.tools-button {
    height: 30px;
    width: 30px 
    display: flex;
}

.icon {
  position: relative;
  top: -15%;
}

.col1{
    text-indent: -10px;
}

.col2 {
    text-indent: -120px;
}

.col3 {
    text-indent: -20px;
}

.col4{
    text-indent: -330px;
}

.col5 {
    text-indent: -160px;
}

.col6 {
    text-indent: 1px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .main-container {
        margin-left: 1rem; /* Adjust margin for smaller screens */
    }
    h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .col2 {
        text-indent: -80px; /* Adjust text indentation for smaller screens */
    }
    .col4 {
        text-indent: -220px; /* Adjust text indentation for smaller screens */
    }
    .col5 {
        text-indent: -120px; /* Adjust text indentation for smaller screens */
    }
}
