body {
  display: flex;
}

.main-container {
  width: auto;
  height: auto;
  margin-top: 3rem;
  margin-left: 9rem;
  position: relative;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Titan One', cursive;
  color: #434349;
  font-size: 55px;
}

card-title {
  color: black !important;
  font-weight: bold;
}

.card1 {
  width: auto;
  height: auto;
  background-color: #D9D9D9 !important;
}

.card2 {
  width: auto;
  height: auto;
  overflow-y: auto;
  background-color: #D9D9D9 !important;
}

.submit {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #2260A7;
  color: #FFFF ;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
