@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    font-family: "Poppins", cursive;
    background-image: url("../PicturesNeeded/bannerBg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.content-wrapper{
    margin-top: 80px;
}

.container{
    background-color: #48BF91;
    border-radius: 5px;
    max-width: 400px;
    color: white;
    padding: 20px;
}
.text-h1{
    width: 80%;
}
.container h1{
    font-family: "Poppins", cursive;
    text-align: center;
    padding: 5px;
}
.icon{
        width: 20%;
        margin: 0;
}
.container h3{
    font-family: "Poppins", cursive;
    text-align: center;
    padding-top: 7px;
    padding-right: 40px;
}
.text-header a{
    width: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.text-header i{
    margin-top: 10px;
    font-size: 15px;
    border: white solid 3px;
    border-radius: 50%;
    padding: 5px 10px;
}

.form-control{
    height: 40px;
}

.form-container{
    background-color: #48BF91;
    max-height: 900px;
    justify-content: center;
}
.form-label{
    font-size: 1.1rem;
    font-family: "Poppins",sans-serif;
}
.btn{
    margin-top: 20px;
    height:40px;
/*    background-color: #13603C;*/
    font-weight: 500;
}
.btn:hover{
    background-color: #399773;
}

@media (max-width: 767px) {

    .container h1{
        font-family: "Poppins", cursive;
        text-align: center;
        font-size: 1.5rem;
    }
    .icon{
        max-width: 60px;
        margin: 0;
    }

    .navbar-brand img {
        height: 45px;
        margin-left: 0;
    }

    .text-header i{
        margin-top: 10px;
        font-size: 10px;
        border: white solid 2px;
        border-radius: 50%;
    }
    .container h3{
    font-family: "Poppins", cursive;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 7px;
    padding-right: 40px;
    }
}