body {
  display: flex;
}

.title-container {
  width: 100%;
  height: 5rem;
  border-bottom: 3px solid #BFBCBC;
}


.main-container {
  width: auto;
  height: auto;
  margin-top: 3rem;
  margin-left: 9rem;
  position: relative;
  padding-bottom: 10px;
  justify-content: center;
}

h1 {
  font-family: 'Titan One', cursive;
  color: #434349;
  font-size: 55px;
  margin-top: 5rem;
}

h5 {
  color: #115A83 !important;
}

.card1 {
  width: auto;
  height: auto;
  background-color: #48BF91 !important;
}

.card2 {
  width: auto;
  height: auto;
  overflow-y: auto;
  background-color: #48BF91 !important;
}

.submit {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #48BF91;
  color: #FFFF ;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
